@model Semester
@{
	var title = "Delete Department";
	ViewData["Title"] = title;
}
<form method="post">
	<div class="card">
		<div class="card-header bg-success text-white">
			<h2>@title</h2>
		</div>
		<div class="card-body">
			<div asp-validation-summary="All" class="text-danger"></div>
			<input asp-route-id="ID" hidden />
			<div class="form-floating mb-2">
				<input asp-for="Name" class="form-control" placeholder=" " />
				<label asp-for="Name" class="control-label"></label>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
		</div>
		<div class="card-footer">
			<div class="row">
				<div class="col-12">
					<div class="form-group mt-2">
						<div class="d-flex mb-2">
							<button type="submit" class="btn btn-lg btn-danger">Delete</button>
							<a asp-action="Index" class="btn btn-lg btn-warning ms-1">Back to list</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

